{include file='header.html'}

<h1>Looking for developers...</h1>

<ul>
	<li><a href="#1">What sort of developers are you looking for?</a></li>
    <li><a href="#2">What about designers and people who can improve the look of the site?</a></li>
    <li><a href="#3">What about developing new features for the site?</a></li>
    <li><a href="#4">Do we get paid for our work?</a></li>
    <li><a href="#5">What is the process for being a developer?</a></li>
    <li><a href="#6">Why GitHub?</a></li>
    
</ul>

<a name="1"><h2>What sort of developers are you looking for?</h2>

<p>We are looking for html, php, css, javascript and JQuery developers who can deal with troubleshooting bugs on the site, creating new pages and applications and improving the or even redesigning the timeline plugin.</p>

<a href="#top">top</a>

<a name="2"><h2>What about designers and people who can improve the look of the site?</h2>

<p>If you can improve the design of the site then please feel free to send them in.  If you have experience with html, JQuery and CSS and can implement new designs that is even better.</p>

<a href="#top">top</a>

<a name="3"><h2>What about developing new features for the site?</h2>

<p>If you can think of a new feature that won't detract from the site's main purpose (providing a timeline of Marvel Comics) and you can develop them then feel free to create it and see if we like it.  Short of someone trying to put Ads for viagra and porn on the site we won't laugh in your face.  We may not use it but we will try to be respectful and encouraging of your work.  We will definitely be appreciative of your initiative and hard work.</p>

<a href="#top">top</a>

<a name="4"><h2>Do we get paid for our work?</h2>

<p>No.

This is a non-profit site.  We make no money, we don't host adverts and it actually costs money to run so there is absolutely no chance of you being paid for working on the site.  We don't even take in donations!</p>

<a href="#top">top</a>

<a name="5"><h2>What is the process for being a developer?</h2>

<p>Go to the GitHub Repository and fork the site.  Make the changes you wish to and then notify us and we will test them out.  If you can make consistently good changes we will set you up with an ftp account to the beta site so you can test out your changes personally before we upload them to the main site.</p>

<a href="#top">top</a>

<a name="6"><h2>Why GitHub?</h2>

<p>This way we can keep track of who makes changes and make sure that we aren't going to be dealing with idiots who want to spam the site and start posting nude pictures.</p>

<a href="#top">top</a>

{include file='footer.html'}