{include file='header.html'}

<h1>Frequently Asked Questions</h1>

<ul>
	<li><a href="#1">What is this site for?</a></li>
    <li><a href="#2">What is this site NOT for?</a></li>
    <li><a href="#3">Why do I need to log in?</a></li>
    <li><a href="#4">What information do you store about me?</a></li>
    <li><a href="#5">What do I put down for the comic names?</a></li>
    <li><a href="#6">What should I put for an even summary?</a></li>
    <li><a href="#7">What about mini series and annuals?</a></li>
    <li><a href="#8">I have more questions!</a></li>
</ul>

<a name="1"><h2>What is this site for?</h2>

<p>This site is dedicated to creating a timeline of the comics as they were published.  Anyone can add new events, comics or characters and anyone can browse the site.</p>

<a href="#top">top</a>

<a name="2"><h2>What is this site NOT for?</h2>

<p>This site is not a chronological timeline of events as they occur in the Marvel universe.  If you see Captain America reliving the events of World War II in 2012 then don't try and find them listed as events back in 1939-1945.  You will however find it listed under the publish date of the comic you read it in.</p>

<a href="#top">top</a>

<a name="3"><h2>Why do I need to log in?</h2>

<p>We need users to log in so that we can keep out people who want to spoil our experience with inaccurate information, posting pictures and information that have nothing to do with the comics and generally being evil idiots.
</p>

<a href="#top">top</a>

<a name="4"><h2>What information do you store about me?</h2>

<p>No names, usernames or anything like that.  We just store your user id from whatever provider you used to sign in with and your ip address, and we only store those to ban you if you decided to cause trouble for the site by breaking the rules.</p>

<a href="#top">top</a>

<a name="5"><h2>What do I put down for the comic names?</h2>

<p>Whatever Marvel called them.  The Avengers are just: 'Avenger'.  But then you have 'New Avengers' which are totally separate series.  Do a search on Marvel and you should find your answer.  Also make sure you don't try and add a comic that already exists.</p>

<a href="#top">top</a>

<a name="6"><h2>What should I put for character names?</h2>

<p>Ok, slightly more tricky.  We use the format: Primary-Code-Name(Real-Name, secondary-aliases, ..., ..., ...).  Here's an example:
<p>Hulk (Bruce Banner, Annihilator, Captain Universe, Joe Fixit, Mr. Fixit, Mechano, Professor, War, Bruce Bancroft, David Banner, David Bixby, Bob Danner, Bruce Jones, Bruce Roberts, David Blaine, the Green Scar, Green Goliath, Jade Giant, Bob, World-breaker)</p>
When a user tries to find the character to add them to the event then they can use any of the aliases a character is known by.
</p>

<a href="#top">top</a>

<a name="6"><h2>What should I put for an even summary?</h2>

<p>Welcome to the murky world of judgement calls!  Put down as much information as you like without writing a novel about the comic issue.  Some of the early comics don't have much in the way of series spanning arcs or events that have a huge impact on the characters so a simple summary can be given.  Remember, someone can come along and add to what you've done later, just like wikipedia, which is how this site should run, what we don't want is to put so much information that peopl feel they don't need to go out and read the actual comics.</p>

<a href="#top">top</a>

<a name="7"><h2>What about mini series and annuals?</h2>

<p>A mini series deserves its own comic section so something like '198' can be listed seperately.  But short runs like Deadpool which at first only had a few short series should be kept to the same comic, unless they are eventually printed under a different title.</p>

<a href="#top">top</a>

<a name="8"><h2>I have more questions!</h2>

<p>If you have more questions then you can ask them via email (<a href="mailto:contact@marvel-timeline.com">contact@marvel-timeline.com</a>) or you can ask at our Facebook Page (<a href="https://www.facebook.com/mu.timeline.project">https://www.facebook.com/mu.timeline.project</a>).</p>

<p>Please remember that there aren't many of us moderating the site and that we do this as volunteers so we may not respond within thirty seconds... or the same day.</p>

<a href="#top">top</a>

{include file='footer.html'}